i, em, span, b, strong {
    color: green;
    text-decoration: underline;
}

ol, ul {
    border: 1 px solid lightcoral;
}

img {
    width: 100;
    max-width: 100;
}

img {
  display: block;
  max-width: 100;
  height: auto;
  margin: 0 auto;
}
